<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="color: black;">{{ noticia.title }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-img [src]="noticia.url_imag"></ion-img>
    </ion-card-header>
    <ion-card-content>
      <ion-card-title style="color: green;">{{ noticia.title }}</ion-card-title>
      <br>

      <ion-text class="colored-text">{{ noticia.text_long }}</ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
